@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(36, 36, 36);
}

body::-webkit-scrollbar-thumb{
  background-color: rgba(37,147,184);
  border-radius: 10px;
  border: 2px solid rgb(36, 36, 36);
}

button {
  user-select: none;
}

.app{
  position: relative;
  min-height: 100vh;
  height: max-content;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  color: #232323;
  background-color: rgb(36, 36, 36);
  font-size: 16px;
}

input, button {
  font-family: 'Nunito', sans-serif;
}


section.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #232323;
}

.login .box{
  position: relative;
  width: 400px;
  height: 500px;
  border-radius: 40px;
  overflow: hidden;
}

.login .box:before{
  content: '';
  position: absolute;
  width: 400px;
  height: 500px;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg,transparent,
  rgba(37,147,184),rgba(37,147,184));
  transform-origin: bottom right;
  animation: animate 5s linear infinite;
}

.login .box:after{
  content: '';
  position: absolute;
  width: 400px;
  height: 500px;
  bottom: -50%;
  right: -50%;
  background: linear-gradient(0deg,rgba(37,147,184),
  rgba(37,147,184),transparent);
  transform-origin: top left;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.login .form{
  position: absolute;
  background-color: rgb(30, 30, 30);
  border-radius: 40px;
  /*box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  inset: 2px;
  z-index: 1;
}

.login .form div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  flex-direction: column;
}

.login .form svg {
  font-size: 56px;
  color: rgba(37,147,184);
}

.login .form div label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  position: relative;
}

.login .form div label span{
  position: absolute;
  left: 0;
  padding: 10px 10px 10px;
  pointer-events: none;
  transition-duration: 500ms;
}

.login .form div label input{
  font-size: 1em;
  padding: 10px 10px ;
  width: 100%;
  z-index: 2;
  background-color: transparent;
  color: #fff;
}

.login .form div label input::selection{
  background: #858585;
}

.login .form div label input:valid ~ span,
.login .form div label input:focus ~ span{
  color: rgba(37,147,184);
  transform: translateY(-30px);
  font-size: 0.85em;
}

.login .form div label i{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: rgba(37,147,184);
  width: 100%;
  border-radius: 4px;
  transition-duration: 500ms;
  pointer-events: none;
}

.login .form div label input:valid ~ i,
.login .form div label input:focus ~ i{
  height: 40px;
}

.login .form div label p{
  position: absolute;
  left: 0;
  bottom: -25px;
  font-size: 0.7em;
  padding: 10px 10px 10px;
  pointer-events: none;
  color: #ff0000;
  font-weight: bold;
}

.login .form button {
  background-color: rgba(37,147,184);
  color: white;
  font-size: inherit;
  border-radius: 10px;
  padding: 10px 30px;
  transition-duration: 500ms;
}

.login .form button:active {
  opacity: 0.8;
}

.home {
  height: calc(100vh - 196px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

.form div.search {
  width: 100% !important;
  border-radius: unset !important;
  border: unset !important;
  padding: unset !important;
  background-color: unset !important;
}

.search input, .form .search input {
  width: 80%;
  padding: 25px 50px;
  font-size: 36px;
  border-radius: 18px;
  background-color: rgb(30, 30, 30);
  color: #ffffff;
  border: 2px solid rgba(37,147,184);
}

.house input, .result input {
  padding: 20px 30px !important;
  font-size: 28px !important;
}

.search .suggestions {
  position: absolute;
  top: 135px;
  width: 80%;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid rgba(37,147,184);
}

.form div.search .suggestions {
  z-index: 100000;
  top: 50px !important;
  border: 1px solid rgba(37,147,184);
  width: 100%;
}

.house .suggestions, .result .suggestions {
  top: 110px !important;
}

.search .suggestions li {
  padding: 10px 30px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  background-color: rgb(30, 30, 30);
  color: #ffffff;
}

.search .suggestions li:hover {
  background-color: rgba(37,147,184);
}

.search .suggestions li.active {
  background-color: rgba(37,147,184);
}

.contain {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
}

.contain.nodes, .contain.hardware, .contain.events {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contain.nodes .search, .contain.hardware .search {
  width: 80%;
  font-size: 20px;
  padding: 20px;
  color: #ffffff;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgba(37,147,184);
}

.contain.tables {
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}

.contain.tables .pagination {
  margin-top: 20px;
}

.tabs {
/*.contain .tabs {*/
  display: flex;
  width: 80%;
  color: #ffffff;
}

.tabs-contain {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs-contain .tabs {
  border-bottom: 1px solid rgba(37,147,184);
}

  /*.contain .tab {*/
.tab {
  width: 50%;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  transition-duration: 200ms;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: unset;
}

/*.contain .tab.active {*/
.tab.active {
  border: 1px solid rgb(37,147,184);
  border-bottom: unset;
}

/*.contain .tab:hover {*/
.tab:hover {
  background-color: rgb(37,147,184);
}

.users, .references {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.users .buttons, .references .buttons {
  width: 80%;
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}

.users .buttons button, .references .buttons button {
  color: #ffffff;
  border-radius: 3px;
  padding: 8px 15px;
  font-size: 16px;
  background-color: rgba(37,147,184);
  display: flex;
  align-items: center;
  gap: 5px;
}

/*.contain table {*/
table {
  color: #ffffff;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid rgba(37,147,184);
}

table .row-type-1 {
  background-color: rgb(36, 36, 36);
}

table .row-type-2 {
  background-color: rgb(30, 30, 30);
}

table.events .col2 {
  width: 30%;
}

/*.contain table .col1 {*/
/*  width: 50%;*/
/*}.contain table .col2 {*/
/*  width: 40%;*/
/*}*/
table td:last-child, table th:last-child {
  padding: unset !important;
  text-align: right;
}

.contain table.files td:last-child, .contain table.files th:last-child {
  width: calc(72px * 2);
}
.contain table.archive td:last-child, .contain table.archive th:last-child {
  width: calc(72px * 3);
}

.users table td:last-child, .users table th:last-child {
  width: calc(51px * 2);
}

.references table td:last-child, .references table th:last-child {
  width: 51px;
}

table.nodes td:last-child, table.nodes th:last-child {
  width: calc(72px * 3);
}

.nodes table td:last-child, .nodes table th:last-child {
  width: calc(72px * 3);
}

.hardware table td:last-child, table.hardware th:last-child {
  width: calc(72px * 3);
}

/*.contain table .col1 {*/
/*  width: 50%;*/
/*}.contain table .col2 {*/
/*  width: 35%;*/
/*}.contain table .col3 {*/
/*  width: 15%;*/
/*  padding: unset !important;*/
/*  text-align: right;*/
/*}*/

.contain table .col1 svg, .upload label svg {
  margin-right: 5px;
  font-size: 30px;
}

/*.contain table td:last-child svg {*/
table td:last-child svg {
  cursor: pointer;
  transition-duration: 200ms;
}

/*.contain table td:last-child svg:hover {*/
/*  background-color: #4ecb84;*/
/*}*/
/*.contain table td:last-child svg:first-child:hover {*/
/*  background-color: rgba(37,147,184);*/
/*}*/
/*.contain table td:last-child svg:last-child:hover {*/
/*  background-color: #ee5037;*/
/*}*/

/*.users table td:last-child svg:hover {*/
/*  background-color: rgba(37,147,184);*/
/*}*/
/*.users table td:last-child svg.ban:hover {*/
/*  background-color: #ee5037;*/
/*}*/
/*.users table td:last-child svg.unban:hover {*/
/*  background-color: #4ecb84;*/
/*}*/

/*.references table td:last-child svg:hover {*/
/*  background-color: rgba(37,147,184);*/
/*}*/
table td:last-child svg.eye:hover {
  background-color: #4ecb84;
}

table td:last-child svg.delete:hover {
  background-color: #ee5037;
}

table td:last-child svg:hover {
  background-color: rgba(37,147,184);
}

/*.contain table th, .contain table td {*/
table th, table td {
  text-align: left;
  padding: 20px 30px;
}

/*.contain table td.col3 svg {*/
.contain table td:last-child svg {
  padding: 25px;
}

.users table td:last-child svg, .references table td:last-child svg {
  padding: 15px;
}

/*.contain table th {*/
table th {
  font-size: 18px;
}

/*.contain table td {*/
table td {
  font-size: 20px;
}

table span {
  border-radius: 8px;
  padding: 2px 15px;
  font-size: 16px;
}

.bg-green {
    /*background-color: #4ecb84;*/
    background-color: #4ecb84 !important;
    color: #ffffff !important;
}

.bg-blue {
  background-color: rgb(37,147,184) !important;
  color: #ffffff !important;
}

.bg-red {
    background-color: #ee5037 !important;
    color: #ffffff !important;
}

.empty {
  color: #ffffff;
  border: 1px solid rgb(37,147,184);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 80%;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

.upload {
  display: flex;
  width: 80%;
  margin-bottom: 20px;
  background-color: rgb(30, 30, 30);
  color: #ffffff;
  justify-content: space-between;
}

input[type="file"] {
  display: none;
}

.upload button {
  background-color: rgb(37,147,184);
  color: #ffffff;
  font-size: 18px;
  padding: 25px 40px;
}

.upload label {
  font-size: 24px;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0 50px;
  cursor: pointer;
}

.addresses-table {
  color: #ffffff;
  width: 80%;
  padding-bottom: 30px;
}

.addresses-table h2 {
  font-size: 30px;
  font-weight: bold;
  color: rgba(255,255,255,0.7);
  margin: 10px 0 30px;
}

.addresses-table .list {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.addresses-table .list .address, .references .contain a {
  color: rgb(54, 205, 255);
  /*font-weight: bold;*/
  font-size: 24px;
  cursor: pointer;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-duration: 200ms;
}

.addresses-table .list .address span {
  font-size: 18px;
  color: rgba(255,255,255,0.4);
}

.addresses-table .list .address:hover, .references .contain a:hover {
  background-color: rgb(30,30,30);
}

.addresses-table .pagination, .nodes .pagination, .hardware .pagination, .contain.tables .pagination {
  display: flex;
  user-select: none;
  align-items: center;
  font-size: 20px;
  color: #484848;
  height: max-content;
  padding: 10px 0;
}

.pagination .start, .pagination .back, .pagination .next, .pagination .end {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 28px;
  padding: 0 5px;
  transition-duration: 200ms;
  cursor: pointer;
}

.pagination .back, .pagination .next {
  padding: 0 15px;
}

.pagination .start:hover, .pagination .back:hover, .pagination .next:hover, .pagination .end:hover {
  color: rgb(37,147,184);
}

.pagination .pages span {
  padding: 5px 12px;
  cursor: pointer;
}

.pagination .pages span.active {
  background-color: rgb(37,147,184);
  color: #ffffff;
}

nav {
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

nav ul {
  display: flex;
  width: 100%;
}

nav ul li {
  padding: 15px 30px;
  border-bottom: 2px solid transparent;
  transition-duration: 200ms;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

nav ul li:hover {
  border-bottom: 2px solid rgb(37,147,184);
}

nav ul li.active {
  border-bottom: 2px solid rgb(37,147,184);
}

nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav div span, nav div button {
  color: #ffffff;
}

nav div button {
  background-color: rgb(37,147,184);
  border-radius: 4px;
  font-size: 16px;
  padding: 3px 10px;
}

.modal-table .contain {
  background-color: rgba(36, 36, 36);
  display: flex;
  overflow-y: auto;
  justify-content: flex-start;
  height: 90%;
  width: 80%;
  padding: 0 20px;
  border-left: 1px solid rgb(37,147,184);
  border-right: 1px solid rgb(37,147,184);
}

.modal-table .contain::-webkit-scrollbar{
  width: 7px;
  background-color: transparent;
}

.modal-table .contain::-webkit-scrollbar-thumb{
  background-color: rgb(37,147,184);
  border-radius: 10px;
  border: 2px solid transparent;
}


.modal-table .contain input{
  width: 100% !important;
}

.modal-table .contain table {
  width: 100% !important;
  height: max-content;
  border: unset;
  border-bottom: 1px solid rgb(37,147,184);
}

.modal-table table td:last-child, .modal-table table th:last-child {
  width: 70px;
}

.modal-table table td:last-child svg:hover {
  background-color: rgb(37,147,184) !important;
}

.modal-window, .modal-table {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000001;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 36, 36, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window .form {
  background-color: rgba(36, 36, 36);
  border: 1px solid rgb(37,147,184);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;
  padding-bottom: 35px;
  width: 550px;
  color: #ffffff;
}

.modal-window .form::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

.modal-window .form::-webkit-scrollbar-thumb{
  background-color: rgb(37,147,184);;
  border-radius: 10px;
  border: 2px solid transparent;
}

.modal-window .form.node, .modal-window .form.switch {
  width: 1200px !important;
}

.modal-window .form h2 {
  text-align: center;
  font-size: 24px;
  padding: 50px 0;
}

.modal-window .form .fields {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 18px;
  padding: 0 30px;
  gap: 20px;
  /*justify-content: flex-start;*/
}

.modal-window .form .fields .row {
  display: flex;
  gap: 25px;
  align-items: center;
}

.modal-window .form .fields .row .column {
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 20px;
}

.modal-window .form .fields label{
  position: relative;
  width: 100%;
  flex-direction: column;
  display: flex;
}

.modal-window .form .fields label span {
  width: 100%;
  padding: 0 0 5px 5px;
}

.modal-window .form .fields label input, .custom-select .select-input,
.modal-window .form .fields label textarea, .modal-window .form .fields label .select-field {
  width: 100%;
  color: #ffffff;
  background-color: rgb(30, 30, 30);
  border-radius: 8px;
  border: 1px solid rgb(37,147,184);
  font-size: 20px !important;
  padding: 5px 15px !important;
}

.modal-window .form .fields label textarea::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(36, 36, 36);
}

.modal-window .form .fields label textarea::-webkit-scrollbar-thumb{
  background-color: rgba(37,147,184);
  border-radius: 10px;
  border: 2px solid rgb(36, 36, 36);
}

.modal-window .form .fields label .select-field {
  height: 39px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal-window .form .fields .buttons {
  margin-top: 50px;
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: center;
}

.modal-window .form .fields .buttons button {
  padding: 10px 30px;
}

.custom-select {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.custom-select .select-input {
  text-align: center;
  padding: 9px 15px !important;
}

.custom-select .list {
  position: absolute;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgb(37,147,184);
  border-radius: 8px;
  width: 100%;
  top: 45px;
  overflow: hidden;
  z-index: 10000;
}

.custom-select .list li {
  padding: 8px 20px;
  transition-duration: 100ms;
}

.custom-select .list li:hover {
  background-color: rgb(37,147,184);
}

.input-error {
  display: flex;
  position: absolute;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgb(37,147,184);
  padding: 5px;
  width: 100%;
  border-radius: 8px;
  top: 70px;
  font-size: 14px;
  z-index: 1000;
  margin: unset;
}

.input-error i {
  position: absolute;
  top: -8px;
  left: 15px;
  box-shadow: -1px -1px 0 rgb(37,147,184);
  transform: rotate(45deg);
  border-bottom: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(30, 30, 30);
  border-left: 8px solid rgb(30, 30, 30);
  border-bottom-right-radius: 100%;
}

.input-error svg {
  color: #ee5037;
  margin-right: 5px;
}

.contain .add-node, .contain .add-hardware {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  padding: 25px 0;
  width: 80%;
  background-color: rgb(37,147,184);
}

.references .contain {
  width: 100%;
  display: flex;
  justify-content: center;
}

.references .contain .list {
  width: 80%;
}

label.checkbox {
  flex-direction: row !important;
}

/*.users-page .modal-window label.checkbox {*/
/*  margin: 20px 0;*/
/*  padding: 0 30px;*/
/*}*/

label.checkbox input[type=checkbox] {
  display: none;
}

label.checkbox span {
  display: flex;
  align-items: center;
  width: calc(100% - 23px) !important;
  user-select: none;
  margin-left: 23px;
  position: relative;
}

label.checkbox span:before {
  content: "";
  min-width: 18px;
  min-height: 18px;
  border-radius: 2px;
  border: 1px solid rgb(37,147,184);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 2px;
  left: -23px;
}

label.checkbox span:after {
  content: "";
  background-color: rgb(36, 36, 36);
  border-radius: 2px;
  width: 12px;
  height: 12px;
  position: absolute;
  left: -20px;
}

label.checkbox input[type="checkbox"]:checked + span:after {
  background-color: rgb(37,147,184);
}

.info {
  display: flex;
  color: #ffffff;
  width: 80%;
  border: 1px solid rgb(37,147,184);
  margin-bottom: 20px;
}

.info .column {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 15px;
}

.info .block span {
  font-size: 18px;
  display: block;
  margin: 0 0 5px 10px;
}

.info .block p {
  padding: 10px 20px;
  border: 1px solid rgb(37,147,184);
  border-radius: 8px;
  font-size: 20px;
}

.info .block a {
  color: rgb(37,147,184);
}

.info .column .block.textarea p {
  height: 122px;
  overflow-y: auto;
  white-space: pre-line;
}

.info .column .block.textarea p::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(36, 36, 36);
}

.info .column .block.textarea p::-webkit-scrollbar-thumb{
  background-color: rgba(37,147,184);
  border-radius: 10px;
  border: 2px solid rgb(36, 36, 36);
}

.images {
  border: 1px solid rgba(37,147,184);
  width: 80%;
  display: grid;
  grid-template-columns: repeat(7, 210px);
  justify-content: center;
  column-gap: 2px;
  row-gap: 2px;
}

.images .image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 210px;
  height: 210px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.images .image .menu {
  position: absolute;
  color: rgb(30, 30, 30);
  font-size: 28px;
  z-index: 10;
  top: 10px;
  right: 15px;
  transition-duration: 200ms;
  display: none;
  padding: 5px;
}

.images .image:hover .menu {
  display: block;
}

.images .image .menu:hover {
  color: rgb(37,147,184);
}

.images .image .menu-block {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

.images .image .menu-block div {
  padding: 0 25px;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  color: #ee5037;
}

.images .image .menu-block div:hover {
  background-color: rgb(30, 30, 30);
}

.images .image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-window.image img {
  max-width: 80%;
  max-height: 80%;
  background-color: rgb(36, 36, 36);
}

.modal-window.image div {
  color: rgba(37,147,184);
  font-size: 72px;
  padding: 20px;
  transition-duration: 200ms;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 5px;
}

.modal-window.image div:hover {
  background-color: rgba(37,147,184);
  color: #ffffff;
}

section.node-view h2, section.hardware-view h2 {
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}